@charset "UTF-8";
@font-face {
  font-family: "dkan-flaticon";
  src: url("../fonts/icon-font/dkan-flaticon.eot?6id5zh");
  src: url("../fonts/icon-font/fonts/dkan-flaticon.eot?6id5zh#iefix") format("embedded-opentype"), url("../fonts/icon-font/dkan-flaticon.woff?6id5zh") format("woff"), url("../fonts/icon-font/dkan-flaticon.ttf?6id5zh") format("truetype"), url("../fonts/icon-font/dkan-flaticon.svg?6id5zh#dkan-flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}
.format-label:before {
  font-family: "dkan-flaticon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*text-shadow: 1px 1px 1px rgba(0,0,0,0.004);*/
}

.icon-tsv:before {
  content: "\E900";
}

.icon-aac:before {
  content: "\E605";
}

.icon-ai:before {
  content: "\E606";
}

.icon-aif:before {
  content: "\E607";
}

.icon-api:before {
  content: "\E608";
}

.icon-apk:before {
  content: "\E609";
}

.icon-app6:before {
  content: "\E60A";
}

.icon-asf1:before {
  content: "\E60B";
}

.icon-asp:before {
  content: "\E60C";
}

.icon-aspx:before {
  content: "\E60D";
}

.icon-asx2:before {
  content: "\E60E";
}

.icon-avi4:before {
  content: "\E60F";
}

.icon-bak:before {
  content: "\E610";
}

.icon-bat8:before {
  content: "\E611";
}

.icon-bin6:before {
  content: "\E612";
}

.icon-bmp2:before {
  content: "\E613";
}

.icon-cab:before {
  content: "\E614";
}

.icon-cad1:before {
  content: "\E615";
}

.icon-cdr2:before {
  content: "\E616";
}

.icon-cer:before {
  content: "\E617";
}

.icon-cfg2:before {
  content: "\E618";
}

.icon-cfm2:before {
  content: "\E619";
}

.icon-cgi2:before {
  content: "\E61A";
}

.icon-class3:before {
  content: "\E61B";
}

.icon-com:before {
  content: "\E61C";
}

.icon-cpp1:before {
  content: "\E61E";
}

.icon-crx:before {
  content: "\E61F";
}

.icon-csr:before {
  content: "\E620";
}

.icon-css5:before {
  content: "\E621";
}

.icon-csv2:before {
  content: "\E622";
}

.icon-cue2:before {
  content: "\E623";
}

.icon-cur1:before {
  content: "\E624";
}

.icon-dat2:before {
  content: "\E625";
}

.icon-data:before {
  content: "\E626";
}

.icon-db2:before {
  content: "\E627";
}

.icon-dbf2:before {
  content: "\E628";
}

.icon-dds2:before {
  content: "\E629";
  color: #444;
}

.icon-dem2:before {
  content: "\E62A";
}

.icon-dll2:before {
  content: "\E62B";
}

.icon-dm:before {
  content: "\E600";
}

.icon-dmg3:before {
  content: "\E62C";
}

.icon-dmp2:before {
  content: "\E62D";
}

.icon-doc2:before {
  content: "\E62E";
}

.icon-docx:before {
  content: "\E62F";
}

.icon-drv1:before {
  content: "\E630";
}

.icon-ds2:before {
  content: "\E601";
}

.icon-dtd2:before {
  content: "\E631";
}

.icon-dwg2:before {
  content: "\E632";
}

.icon-dxf1:before {
  content: "\E633";
}

.icon-elf2:before {
  content: "\E634";
}

.icon-eps2:before {
  content: "\E635";
}

.icon-eps5:before {
  content: "\E636";
}

.icon-esri:before {
  content: "\E922";
}

.icon-exe3:before {
  content: "\E637";
}

.icon-fla2:before {
  content: "\E638";
}

.icon-flash10:before {
  content: "\E639";
}

.icon-flv:before {
  content: "\E63A";
}

.icon-fnt:before {
  content: "\E63B";
}

.icon-fon1:before {
  content: "\E63C";
}

.icon-g22:before {
  content: "\E602";
}

.icon-gam2:before {
  content: "\E63D";
}

.icon-gbr1:before {
  content: "\E63E";
}

.icon-ged2:before {
  content: "\E63F";
}

.icon-geojson:before {
  content: "\E923";
}

.icon-gif3:before {
  content: "\E640";
}

.icon-gp2:before {
  content: "\E603";
}

.icon-gpx1:before {
  content: "\E641";
}

.icon-gz:before {
  content: "\E642";
}

.icon-gzip2:before {
  content: "\E643";
}

.icon-hqz:before {
  content: "\E644";
}

.icon-html9:before {
  content: "\E645";
}

.icon-ibooks1:before {
  content: "\E646";
}

.icon-icns:before {
  content: "\E647";
}

.icon-ico2:before {
  content: "\E648";
}

.icon-ics2:before {
  content: "\E649";
}

.icon-iff:before {
  content: "\E64A";
}

.icon-indd2:before {
  content: "\E64B";
}

.icon-iso1:before {
  content: "\E64C";
}

.icon-iso4:before {
  content: "\E64D";
}

.icon-jar8:before {
  content: "\E64E";
}

.icon-jpg3:before {
  content: "\E64F";
}

.icon-js2:before {
  content: "\E650";
}

.icon-json:before {
  content: "\E651";
}

.icon-jsp2:before {
  content: "\E652";
}

.icon-key35:before {
  content: "\E653";
}

.icon-kml1:before {
  content: "\E654";
}

.icon-kmz:before {
  content: "\E655";
}

.icon-lnk2:before {
  content: "\E656";
}

.icon-log2:before {
  content: "\E657";
}

.icon-lua:before {
  content: "\E658";
}

.icon-m3u:before {
  content: "\E659";
}

.icon-m4a1:before {
  content: "\E65A";
}

.icon-m4v2:before {
  content: "\E65B";
}

.icon-macho:before {
  content: "\E65C";
}

.icon-max2:before {
  content: "\E65D";
}

.icon-mdb2:before {
  content: "\E65E";
}

.icon-mdf2:before {
  content: "\E65F";
}

.icon-mid:before {
  content: "\E660";
}

.icon-mim:before {
  content: "\E661";
}

.icon-mov2:before {
  content: "\E662";
}

.icon-mp36:before {
  content: "\E664";
}

.icon-mp4:before {
  content: "\E663";
}

.icon-mpa:before {
  content: "\E665";
}

.icon-mpg3:before {
  content: "\E666";
}

.icon-msg2:before {
  content: "\E667";
}

.icon-msi2:before {
  content: "\E668";
}

.icon-nes1:before {
  content: "\E669";
}

.icon-object4:before {
  content: "\E66A";
  color: #444;
}

.icon-odb2:before {
  content: "\E66B";
}

.icon-odc2:before {
  content: "\E66C";
}

.icon-odf2:before {
  content: "\E66D";
}

.icon-odg:before {
  content: "\E66E";
}

.icon-odi2:before {
  content: "\E66F";
}

.icon-odp2:before {
  content: "\E670";
}

.icon-ods2:before {
  content: "\E671";
}

.icon-odt:before {
  content: "\E672";
}

.icon-odt5:before {
  content: "\E673";
}

.icon-odx:before {
  content: "\E674";
}

.icon-ogg:before {
  content: "\E675";
}

.icon-otf:before {
  content: "\E676";
}

.icon-otf1:before {
  content: "\E677";
}

.icon-pages4:before {
  content: "\E678";
}

.icon-pct2:before {
  content: "\E679";
  color: #444;
}

.icon-pdb2:before {
  content: "\E67A";
}

.icon-pdf19:before {
  content: "\E67B";
}

.icon-pif2:before {
  content: "\E67C";
}

.icon-pkg2:before {
  content: "\E67D";
}

.icon-pl2:before {
  content: "\E67E";
}

.icon-png3:before {
  content: "\E67F";
}

.icon-pps2:before {
  content: "\E680";
}

.icon-ppt:before {
  content: "\E681";
}

.icon-pptx2:before {
  content: "\E682";
}

.icon-ps:before {
  content: "\E683";
}

.icon-psd3:before {
  content: "\E684";
}

.icon-pub2:before {
  content: "\E685";
}

.icon-python3:before {
  content: "\E686";
}

.icon-ra:before {
  content: "\E687";
}

.icon-rar2:before {
  content: "\E688";
}

.icon-raw2:before {
  content: "\E689";
}

.icon-rdf:before {
  content: "\E68A";
}

.icon-rm:before {
  content: "\E68B";
}

.icon-rom2:before {
  content: "\E68C";
}

.icon-rpm2:before {
  content: "\E68D";
}

.icon-rss29:before {
  content: "\E68E";
}

.icon-rtf:before {
  content: "\E68F";
}

.icon-sav:before {
  content: "\E690";
}

.icon-sdf:before {
  content: "\E691";
}

.icon-sitx2:before {
  content: "\E692";
}

.icon-sql3:before {
  content: "\E693";
}

.icon-sql5:before {
  content: "\E694";
}

.icon-srt:before {
  content: "\E695";
}

.icon-svg1:before {
  content: "\E696";
}

.icon-swf1:before {
  content: "\E697";
}

.icon-sys:before {
  content: "\E698";
}

.icon-tar1:before {
  content: "\E699";
}

.icon-tex:before {
  content: "\E69A";
}

.icon-tga2:before {
  content: "\E69B";
  color: #444;
}

.icon-thm1:before {
  content: "\E69C";
}

.icon-tiff1:before {
  content: "\E69D";
}

.icon-tmp:before {
  content: "\E69E";
}

.icon-torrent:before {
  content: "\E69F";
}

.icon-ttf2:before {
  content: "\E6A0";
}

.icon-txt2:before {
  content: "\E6A1";
}

.icon-uue2:before {
  content: "\E6A2";
}

.icon-vb:before {
  content: "\E6A3";
}

.icon-vcd2:before {
  content: "\E6A4";
}

.icon-vcf2:before {
  content: "\E6A5";
}

.icon-vob:before {
  content: "\E6A6";
}

.icon-wav2:before {
  content: "\E6A7";
}

.icon-wma1:before {
  content: "\E6A8";
}

.icon-wms:before {
  content: "\E924";
}

.icon-wmv2:before {
  content: "\E6A9";
}

.icon-wpd2:before {
  content: "\E6AA";
}

.icon-wps:before {
  content: "\E6AB";
}

.icon-wsf2:before {
  content: "\E6AC";
}

.icon-xhtml:before {
  content: "\E6AD";
}

.icon-xlr2:before {
  content: "\E6AE";
}

.icon-xls1:before {
  content: "\E6AF";
}

.icon-xlsx:before {
  content: "\E6B0";
}

.icon-xml5:before {
  content: "\E6B1";
}

.icon-yuv2:before {
  content: "\E6B2";
}

.icon-z1:before {
  content: "\E604";
}

.icon-zip6:before {
  content: "\E6B3";
}